<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6227.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="7E6461A90057F30DD5BC390A5A6A3C81A9D81BD0B276497192E259716909C399E3F5D6C1A90A0DA7F69C57450FA633EE72DCB18D17F07F5555876C369780B405" decryptionKey="AFD206DBE4B856F3CD8C8FF6F0D1EA0867CA1DE21BADB3E1B306CD5BFCFB1C3A" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="DBC1E2FEFD864EA506F7E89B0B61C6CE4A27CC227C777D0A83F572D16C3ECF58" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="DBC1E2FEFD864EA506F7E89B0B61C6CE4A27CC227C777D0A83F572D16C3ECF58" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="1760dd40-a5cb-4c27-b527-820af0a18ebb" name="Everyone" config:flags="1" />
		<role id="e846da1f-d971-4214-9ea9-754b1f5e697a" name="Anonymous" config:flags="1" />
		<role id="4946cee0-b57f-4f39-aa36-d0a54b829428" name="Authenticated" config:flags="1" />
		<role id="d5e7222e-3223-4c85-9c09-d352cf10038f" name="Owner" config:flags="1" />
		<role id="f61b5039-a911-407a-8952-4abe11556d1d" name="Administrators" config:flags="1" />
		<role id="3ad98594-4283-4e73-9c8b-34337577a15c" name="BackendUsers" config:flags="1" />
		<role id="8d621b12-a55f-4c58-a9a6-4c4795bf1aee" name="Authors" config:flags="1" />
		<role id="0b3fed67-a782-446e-89f3-146b004e12c2" name="Editors" config:flags="1" />
		<role id="0b71bc11-4276-4d28-ae8c-131117e767b7" name="Designers" config:flags="1" />
		<role id="0505d6d4-844b-41cd-a5d5-35d5dd753346" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>